.coments-wrap h1{
    color:white;
}
textarea{
    width:100%;
 margin-top:30px;
}
.coments-wrap{
    position:relative;
}
.coments-wrap p{
list-style:none;
border-bottom:1px solid white;
padding:7px 5px;
flex: 1;
flex-wrap: 'wrap';
width:200px;
word-wrap: break-word;
color:black;
width:100%;
background-color:white;
margin-top:15px;
border-radius:6px;
}
button{
    padding:10px 30px;
    font-size:21px;
    background-color:white;
    border-radius:10px;
    border:none;
    position:absolute;
    right:0;
    cursor:pointer;
}